/*------------------------------------------- Header ------------------------------------------*/
header{
    padding-top: 94px;
    padding-bottom: 72px; 
    position: relative;
    background-color: white;
    border-bottom: 1px solid rgba(33, 35, 38, 0);
    box-shadow: 0px 10px 10px 0px rgba(33, 35, 38, 0.1);
    article{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        text-align: center;
        & img i{
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        & img{
            margin-bottom: 15px;
            width: 441px;
            margin-left: 0px;
        }
        & i{
            white-space: nowrap; 
            width: 0; 
            overflow: hidden;
            text-overflow: clip; 
        }   
    }
}
/*---------------------------- Responsive - layout tablette 768px -----------------------------*/
@media screen and (max-width: 768px){
    header{
        padding-top: 43px;
        padding-bottom: 0px;
        margin-bottom: -34px;     
        position: relative;
        background-color: white;
        border-bottom: 1px solid rgba(33, 35, 38, 0);
        box-shadow: 0px 10px 10px 0px rgba(33, 35, 38, 0.1);
        article{
            display: -webkit-flex;
            display: flex;
            justify-content:space-between;
            padding-left: 23px;
            text-align: center;
            & .logo1 .logo2 i{
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            & .logo1{
                margin-bottom: 17px;
                width: 253px;
                margin-left: 239px;
            }
            & .logo2{
                margin-bottom: 17px;
                width: 253px;
                margin-left: 180px;
            }
            & i{
                font-size: 25px;
                white-space: nowrap; 
                width: 89px; 
                overflow: hidden;
                text-overflow: clip; 
                margin-bottom: 17px;
            }
        } 
    }
}

/*-------------------------------- Responsive - layout mobile 425px ---------------------------*/
@media screen and (max-width: 425px){
    header{
        padding-top: 22px;
        padding-bottom: 0px;
        margin-bottom: -34px;     
        position: relative;
        background-color: white;
        border-bottom: 1px solid rgba(33, 35, 38, 0);
        box-shadow: 0px 10px 10px 0px rgba(33, 35, 38, 0.1);
        article{
            display: -webkit-flex;
            display: flex;
            justify-content:flex-start;
            padding-left: 0px;
            text-align: center;     
            & .logo1 .logo2 i{
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            & .logo1{
                margin-bottom: 6px;
                width: 183px;
                margin-left: 120px;
            }
            & .logo2{
                margin-bottom: 6px;
                width: 183px;
                margin-left: 55px;
            }
            & i{         
                font-size: 20px;
                white-space: nowrap; 
                width: 89px; 
                overflow: hidden;
                text-overflow: clip; 
                margin-bottom: 9px;
                :hover{
                    color: $colour-hover;
                }
            }
        } 
    }
}

/*--------------------------------- Responsive - layout mobile 375px --------------------------*/
@media screen and (max-width: 375px){
    header{
        padding-top: 22px;
        padding-bottom: 0px;
        margin-bottom: -34px;     
        position: relative;
        background-color: white;
        border-bottom: 1px solid rgba(33, 35, 38, 0);
        box-shadow: 0px 10px 10px 0px rgba(33, 35, 38, 0.1);
        article{
            display: -webkit-flex;
            display: flex;
            justify-content:flex-start;
            padding-left: 0px;
            text-align: center;
            & .logo1 .logo2 i{
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            & .logo1{
                margin-bottom: 6px;
                width: 163px;
                margin-left: 109px;
            }
            & .logo2{
                margin-bottom: 6px;
                width: 163px;
                margin-left: 35px;
            }
            & i{
                font-size: 18px;
                white-space: nowrap; 
                width: 89px; 
                overflow: hidden;
                text-overflow: clip; 
                margin-bottom: 9px;
                :hover{
                    color: $colour-hover;
                }
            }
        } 
    }
}


/*---------------------------------- Responsive - layout mobile 320px -------------------------*/
@media screen and (max-width: 320px){
    header{
        padding-top: 22px;
        padding-bottom: 0px;
        margin-bottom: -34px;     
        position: relative;
        background-color: white;
        border-bottom: 1px solid rgba(33, 35, 38, 0);
        box-shadow: 0px 10px 10px 0px rgba(33, 35, 38, 0.1);
        article{
            display: -webkit-flex;
            display: flex;
            justify-content:flex-start;
            padding-left: 0px;
            text-align: center; 
            & .logo1 .logo2 i{
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            & .logo1{
                margin-bottom: 6px;
                width: 137px;
                margin-left: 92px;
            }
            & .logo2{
                margin-bottom: 6px;
                width: 137px;
                margin-left: 36px;
            }
            & i{
                font-size: 16px;
                white-space: nowrap; 
                width: 80px; 
                overflow: hidden;
                text-overflow: clip; 
                margin-bottom: 8px;
                :hover{
                    color: $colour-hover;
                }
            }
        } 
    }
}



