/*----------------------------------- navigation ----------------------------------------------*/
.navigation {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  ul {
    position: absolute;
    width: 100%;
    background-color: $colour-primary;
    color: $colour-title;
  }
  li { 
    display: inline-block;
    font-family: $font-primary;
    font-size: 20px;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    &:hover{
      color: $colour-hover;

    }
  }
}
/*----------------------------------- Responsive - layout tablette 768px ----------------------*/
@media screen and (max-width: 768px){
  .navigation{
    display: none;
  }
}
/*------------------------------------ Responsive - layout mobile 425px ----------------------*/
@media screen and (max-width: 425px){
  .navigation{
    display: none;
  }
}

/*------------------------------------ Responsive - layout mobile 375px ----------------------*/
@media screen and (max-width: 375px){
  .navigation{
    display: none;
  }
}
/*------------------------------------ Responsive - layout mobile 320px ----------------------*/
@media screen and (max-width: 320px){
  .navigation{
    display: none;
  }
}
