
/*------------------------------------------- Sections ----------------------------------------*/
section{
    margin:auto;
    padding-left: 344px;
    padding-right: 344px; 
}
/*-------------------------------- Responsive - layout Tablette 768px ---------------------------*/
@media screen and (max-width: 768px){
    section{
        margin:auto;
        padding-left: 40px;
        padding-right: 40px;   
    }
}
/*------------------------ Responsive layout - Mobile L - 425px -----------------------------*/
@media screen and (max-width: 425px){
    section{
        margin:auto;
        padding-left: 24px;
        padding-right: 24px;   
    }
}
/*------------------------ Responsive layout - Mobile M - 375px -----------------------------*/
@media screen and (max-width: 375px){
    section{
        margin:auto;
        padding-left: 20px;
        padding-right: 20px;   
    }
}
/*------------------------ Responsive layout - Mobile S - 320px -----------------------------*/
@media screen and (max-width: 320px){
    section{
        margin:auto;
        padding-left: 17px;
        padding-right: 17px;   
    }
}