/* footer */
.liste {
  text-align: left;
ul {
  width: 100%;
  background-color: $colour-primary;
  color: $colour-title;
  & li { 
    display: inline-block;
    font-family: $font-primary;
    font-size: 20px;
   }
  & a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
 
}



}



/* Responsive - layout mobile 375px  */
@media screen and (max-width: 375px){


footer{
  padding-left: 12px;
  padding-top: 28px;
  padding-bottom: 37px;

  background-color: $colour-footer;
  & img{
    width: 125px;
    padding-left: 15px;
    margin-bottom: 20px;


  }


  .fa.fa-utensils{
    margin-right: 12px;}

    .fas.fa-hands-helping{
      margin-right: 5px;}

 
  ul {

    text-decoration: none;
    width: 100%;
    color: $colour-title;
    & li { 
      display: block;
      font-family: $font-primary;   
      font-size: 20px;
     }
    & a {
      color: $colour-primary;
      font-size: 17px;
      padding: 6px 12px;
      text-decoration: none!important;

      &:hover{
        color: $colour-hover;

      }
    }
  }
hr{display: none;}
.coporight{
  display: none;
}
  


   


  


}

  
}
