header{

    margin-top: 94px;
   margin-bottom: 50px;

   .logo{text-align: center;
    margin-bottom: 38px;
}
}

/* Responsive - layout mobile 375px  */
@media screen and (max-width: 375px){
    header{

        margin-top: 22px;
        margin-bottom: -89px;
    
       .logo{
        text-align: center;
        margin-bottom: 38px;
    }
    img{
        width: 163px;
    }
    }
    
}
