/*----------------------------------- navigation ----------------------------------------------*/
nav {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  ul {
    position: absolute;
    width: 100%;
    background-color: $colour-primary;
    color: $colour-title;
    li { 
      display: inline-block;
      font-family: $font-primary;
      font-size: 20px;
      & a {
        display: block;
        padding: 6px 12px;
        color: $colour-title;
        text-decoration: none;
        &:hover{
          color: $colour-hover;
        }
      }
    }
  }
}
/*----------------------------------- Responsive - layout Tablette 768px ----------------------*/
@media screen and (max-width: 768px){
  nav{
    display: none;
  }
}
/*------------------------ Responsive layout - Mobile L - 425px -----------------------------*/
@media screen and (max-width: 425px){
  nav{
    display: none;
  }
}
/*------------------------ Responsive layout - Mobile M - 375px -----------------------------*/
@media screen and (max-width: 375px){
  nav{
    display: none;
  }
}
/*------------------------ Responsive layout - Mobile S - 320px -----------------------------*/
@media screen and (max-width: 320px){
  nav{
    display: none;
  }
}
