/*----------------------------------------- Couleurs globales -----------------------------------*/
$colour-primary: white;
$colour-secondary: #EAEAEA;
$colour-bottom: #F6F6F6;
$colour-accent: #EC73DA;
$colour-none: #ec73da00;
$colour-title: black;
$colour-text: #7E7E7E;
$colour-hover: #9356DC;
$colour-effect: #F5EDFF;
$colour-footer: #353535;
$colour-new: #0B8D6D;
$colour-badge: #99E2D0;
$colour-button: linear-gradient(to bottom right, #EC73DA, #9356DC);
/*----------------------------------------- Ombres ------------------------------------------------*/
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-nav: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
/*----------------------------------------- Polices princiaples -----------------------------------*/
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;



