/*-------------------------------- Typographies ------------------------------------------------*/
h1 {
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: 65px;
    color: $colour-title;
    text-align: center;
}
h2{
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: 50px;
    color: $colour-title;
}
h3{
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: 25px;
    color: $colour-title;
}
h4{
    font-family: $font-primary;
    font-weight: $font-medium;
    font-size: 25px;
    color: $colour-title;
}
p{
    font-family: $font-primary;
    font-weight: $font-regular;
    font-size: 20px;
    color: $colour-title;
}
/*------------------------------- Responsive - layout Tablette 768px ---------------------------*/
@media screen and (max-width: 768px){
    h1 {
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 49px;
        color: $colour-title;
        text-align: center;
    }    
    h2{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 49px;
        color: $colour-title;
        margin-bottom: 28px;
    }  
    h3{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 32px;
        color: $colour-title;
    }   
    h4{
        font-family: $font-primary;
        font-weight: $font-medium;
        font-size: 20px;
        color: $colour-title;
    } 
    p{
        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: 25px;
        color: $colour-title;
    }     
}
/*------------------------ Responsive layout - Mobile L - 425px -----------------------------*/
@media screen and (max-width: 425px){
    h1 {
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 27px;
        color: $colour-title;
        text-align: center;
    }
    h2{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 27px;
        color: $colour-title;
        margin-bottom: 28px;
    }
    h3{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 21px;
        color: $colour-title;
    }
    h4{
        font-family: $font-primary;
        font-weight: $font-medium;
        font-size: 18px;
        color: $colour-title;
    }
    p{
        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: 18px;
        color: $colour-title;
    } 
}
/*------------------------ Responsive layout - Mobile M - 375px -----------------------------*/
@media screen and (max-width: 375px){ 
    h1 {
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 25px;
        color: $colour-title;
        text-align: center;
    }
    h2{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 25px;
        color: $colour-title;
        margin-bottom: 28px;
    }
    h3{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 18px;
        color: $colour-title;
    }
    h4{
        font-family: $font-primary;
        font-weight: $font-medium;
        font-size: 18px;
        color: $colour-title;
    }
    p{
        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: 17px;
        color: $colour-title;
    }  
}
/*------------------------ Responsive layout - Mobile S - 320px -----------------------------*/
@media screen and (max-width: 320px){
    h1 {
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 21px;
        color: $colour-title;
        text-align: center;
    }
    h2{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 21px;
        color: $colour-title;
        margin-bottom: 28px;
    }
    h3{
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 16px;
        color: $colour-title;
    }
    h4{
        font-family: $font-primary;
        font-weight: $font-medium;
        font-size: 18px;
        color: $colour-title;
    }
    p{
        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: 15px;
        color: $colour-title;
    } 
}