
/* lieu */
.lieu{
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $colour-secondary;
    text-align: center;

   .ville{
        font-family: $font-primary;
        color: $colour-title;
    }
}


/* fonctionnement */

.fonctionnement{
    margin-top: 53px;
    margin-bottom: 68px;
    .manoeuvre{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        article{
            -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;

      &--p i h3{
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
       
      }


     

 
        }
    }

}

/* restaurants */
.restaurants{
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 64px;


    article{
        -webkit-flex-direction: column;
        flex-direction: column;
        display: flex;

        .card{
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border: 0px solid $colour-none;
            border-radius: 26px;
            background: $colour-primary;
            box-shadow:$box-shadow ;
            width: 335px;
            height: 252px;
        
           
            
            & img{
                border-radius: 26px 26px 0px 0px;
                object-fit: cover;
                width:100%;
                height: 40%;
                
            
            }


            &.content{
                margin-top: -50px;
                background-color: $colour-primary;

            }
        }


    }





}




@media screen and (max-width: 375px){

    /* lieu */
    .lieu{
        margin-top: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $colour-secondary;
        text-align: center;
    
       .ville{
            font-family: $font-primary;
            color: $colour-title;
        }
    }

    /* bandeau */
.bandeau{
    background-color: $colour-bottom;
    padding-top: 38px;
    padding-bottom: 57px;
    text-align: center;
    .grand-titre{
        margin-bottom: 22px;
        padding-left: 25px;
        padding-right: 25px;
       
    }
    .decouvrir{
        margin-bottom: 34px;
        font-weight: $font-regular;
    }
    }
    
    /* fonctionnement */


.fonctionnement{
    margin-top: 53px;
    margin-bottom: 68px;
    .manoeuvre{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
        article{
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-start;
            background-color: $colour-bottom;
            margin-bottom: 25px;
            padding: 21px;
            border-radius: 17px;
            box-shadow:$box-shadow ;
            &--h3 i h4{
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

     .numero{
       color: $colour-primary;
       background-color: $colour-hover;
       border-radius: 50%;
       border: 1px solid #D9D9D9;
       margin-left: -33px;
       margin-right: 9px;
       padding-top: 4px;
       padding-left: 10px;
       padding-right:9px;
       padding-bottom: 4px;
     }


     .icone{
        margin-top: 5px;
        font-size: 18px;
        color: $colour-text;
        margin-left: 9px;
        margin-right: 25px;
     }


     .titre-fonction{
        margin-top: 5px;
     }
     
 
        }
    }

}




.restaurants{
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    article{
        -webkit-flex-direction: column;
        flex-direction: column;
        display: flex;
    }

    .card{
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        border: 0px solid $colour-none;
        border-radius: 17px;
        background: $colour-primary;
        box-shadow:$box-shadow ;
        width: 335px;
        height: 252px;
        margin-bottom: 18px;
    

        & .card-header{
            overflow: hidden;
            height: 174px;
        }

     
        & .card-header img{
            border-radius: 17px 17px 0px 0px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        & .card-content{display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;}

    }

}




}
